<ion-header>

</ion-header>

<ion-content padding>
<ion-button (click)="startScanner1()">Guest Check In</ion-button>

<ion-item>
  <ion-label  position="stacked">SURNAME</ion-label>
  <ion-textarea clearOnEdit="true" [(ngModel)]="text" id="surnameText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">GIVEN NAME</ion-label>
  <ion-textarea clearOnEdit="true" id="givennameText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">DOCUMENT NUMBER</ion-label>
  <ion-textarea clearOnEdit="true" id="dnText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">ISSUING COUNTRY</ion-label>
  <ion-textarea clearOnEdit="true" id="icText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">NATIONALITY</ion-label>
  <ion-textarea clearOnEdit="true" id="nationalityText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">DATE OF BIRTH</ion-label>
  <ion-textarea clearOnEdit="true"id="dobText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">SEX</ion-label>
  <ion-textarea clearOnEdit="true" id="sexText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">ESTIMATED ISSUING DATE</ion-label>
  <ion-textarea clearOnEdit="true" id="eidText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">EXPIRATION DATE</ion-label>
  <ion-textarea clearOnEdit="true" id="exDateText"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  position="stacked">OPTIONAL VALUES</ion-label>
  <ion-textarea clearOnEdit="true" id="ovText"></ion-textarea>
</ion-item>

</ion-content>
